<bs-sortable [ngModel]="languagesSelected$ | async"
  (drop)="sortableChange($event.srcElement.parentElement.children)"
  fieldName="name"
  itemClass="sortable-item"
  itemActiveClass="sortable-item-active"
  placeholderItem="Type in a language below"
  placeholderClass="placeholderStyle"
  wrapperClass="sortable-wrapper">
</bs-sortable>

<input  class="form-control" [typeahead]="allLanguages" typeaheadOptionField="name" [(ngModel)]="selected" >
<button type="button" class="btn btn-primary" (click)="addLanguage()" > Add Language </button>

<template #customTemplate let-model="item">
  <h5>{{model.name}}</h5>
</template>
