/*Styling for this component had to be moved to styles.css*/

button {
  margin:  10px auto;
  display: block;
  background-color: #333;
  border: none;
  /*
  background-color: transparent;
  border: solid 3px white;
  color: white;
  font-weight: bold;
  font-stretch: expanded;
   */
}

button:hover {
  background-color: #111;
}
