.header{
  width: 100%;
  height: 100%;
}

.inner-header {
  width: 50%;
  margin:auto;
  position: absolute;
  height: 80%;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 20%) /*Put bottom of input in center of page */

}


.header-text {
  margin-bottom: 20px;
}

.languages-wrapper {
  width: 50%;
  margin: auto;
  margin-top: 80px;

}

app-languages{
  margin: auto;
}
